<h2>Accounts</h2>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Enabled</th>
            <th>Account Name</th>
            <th>Expected Rate %</th>
            <th>Constraints</th>
            <th>Risk</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: accounts">
        <tr>
            <td>
                 <input type="checkbox" data-bind="checked: isEnabled" />
            </td>
            <td>
                <editable-text params="text: name"></editable-text>
            </td>
            <td>
                <editable-text params="text: expectedRate"></editable-text>
            </td>
            <td>
                <constraints params="constraints: constraints"></constraints>
            </td>
            <td>
                <select data-bind="options: $parent.risks, value: risk"></select>
            </td>
            <td>
                <select data-bind="options: $parent.types, value: type"></select>
            </td>
            <td>
                <button class="btn btn-primary" data-bind="visible: isDirty, click: save"><i class="icon save"></i> Save</button>
                <button class="btn btn-danger" data-bind="click: $parent.deleteAccount"><i class="icon delete"></i> Delete</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>
                <input data-bind="value: newAccount.name" class="form-control"></input>
            </td>
            <td>
                <input data-bind="value: newAccount.expectedRate" class="form-control"></input>
            </td>
            <td></td>
            <td>
                <select data-bind="options: risks, value: newAccount.risk"></select>
            </td>
            <td>
                <select data-bind="options: types, value: newAccount.type"></select>
            </td>
            <td>
                <button class="btn btn-primary" data-bind="click: addAccount"><i class="icon add"></i> Add</button></td>
            </td>
        </tr>
    </tfoot>
</table>

<a href="http://www.bankofengland.co.uk/boeapps/iadb/index.asp?Travel=NIxSTxTIx&levels=1&XNotes=Y&XNotes2=Y&Nodes=X4052X4053X4097X3687X3764&SectionRequired=I&HideNums=-1&ExtraInfo=false&A3765XBMX3687X3764.x=4&A3765XBMX3687X3764.y=6">Bank of England 3 Month treasury rate</a> for risk free rate

31Dec15=0.4511 
