<h2>Investments</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Initial Investment</th>
            <th>Per Month Investment</th>
            <th>Number of Months</th>
            <th>Total Invested</th>
            <th>Expected Rate</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: investments">
        <tr data-bind="css: { danger: account.risk() == 'High', warning: account.risk() == 'Medium' }">
            <td data-bind="text: name"></td>
            <td>
                <editable-text params="text: initial"></editable-text>
            </td>
            <td>
                <editable-text params="text: perMonth"></editable-text>
            </td>
            <td>
                <editable-text params="text: months"></editable-text>
            </td>
            <td>
                <div class="form-group" data-bind="css: { 'has-error': totalInvested.hasError }">
                    <span data-bind="text: totalInvested" class="control-label"></span>
                </div>
            </td>
            <td><span data-bind="text: account.expectedRate"></span>%</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Totals</th>
            <td data-bind="text: totalInitialInvestment"></td>
            <td data-bind="text: totalPerMonth"></td>
            <td></td>
            <td data-bind="text: totalInvestment"></td>
            <td>
                <ul>
                    <li>Principle Expected Return: <span data-bind="text: totalExpectedPrincipleReturn"></span>%</li>
                    <li>Monthly Expected Return: <span data-bind="text: totalExpectedMonthlyReturn"></span>%</li>
                    <li>Total Expected Return: <span data-bind="text: totalExpectedTotalReturn"></span>%</li>
                </ul>
                More info: <a href="http://www.investopedia.com/walkthrough/corporate-finance/4/return-risk/expected-return.aspx">Expected Return</a>
            </td>
    </tfoot>
</table>

<h3>Stats</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Risk</th>
            <th>Percent Initial</th>
            <th>Percent Monthly</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: riskStats">
        <tr>
            <td data-bind="text: risk"></td>
            <td><span data-bind="text: initialPercent"></span>% (£<span data-bind="text: initialValue"></span>)</td>
            <td><span data-bind="text: monthlyPercent"></span>% (£<span data-bind="text: monthlyValue"></span>)</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Percent Initial</th>
            <th>Percent Monthly</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: typeStats">
        <tr>
            <td data-bind="text: type"></td>
            <td><span data-bind="text: initialPercent"></span>% (£<span data-bind="text: initialValue"></span>)</td>
            <td><span data-bind="text: monthlyPercent"></span>% (£<span data-bind="text: monthlyValue"></span>)</td>
        </tr>
    </tbody>
</table>
